*{
    padding: 0;
    margin: 0;
}

.navTop {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navBar {
    background-color: white;
    width: 100%;
}

.displaySocial {
    margin-bottom: 0.2rem;
    margin-top: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.displayIcons {
    margin-right: 10rem;

}

.adminLink {
    font-size: 1rem;
    padding-bottom: 0.7rem;
    color: blanchedalmond;
    margin-top: 0.7rem;
    text-align: right;
    margin-right: 0.3rem;
}

.displayLinks {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: right;
    list-style: none;
}
.links {
    color: rgb(0, 0, 0);
    margin-left: 1rem;
    margin-right: 0.5rem;
    padding-bottom: 0.8rem;
    margin-top: 0.4rem;
    text-decoration: none;
}

.links:hover {
    color:#DB7277;
}

.active {
    color : #DB7277;
}



@media (max-width : 830px) {
    .navContainer {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 0px;
    top: initial;
    z-index: 10;
    width: 100%;
    height: auto;
    padding-bottom: 0px;
}
    .displayLinks {
        border-top: solid 1px black;
        justify-content: center;

    }
    .iconLink {
        max-width: 20%;
    }
    .github {
        max-width: 30%;
        padding-top: 0.5em;
    }
    .linkedin {
        max-width: 53%;
    }
    .twitter {
        max-width: 30%;
        padding-top: 0.4rem;
    }


}

@media (min-width : 830px) {
    .navTop {
        position: fixed;
        bottom: 0px;
        top: initial;
        z-index: 10;
        width: 100%;
        height: auto;
        padding-bottom: 0px;
    }

    .adminLink {
        margin-right: 2rem;
        margin-top: 1rem;
    }
    .iconLink {
        max-width: 10%;
    }
    .github {
        max-width: 15%;
        padding-top: 0.6rem;
    }
    .linkedin {
        max-width: 25%;
    }
    .twitter {
        max-width: 18%;
        padding-top: 0.2rem;
    }

    
}